:root {
  --BackgroudColor: #dc2626;
  --ColorItems: #fef2f2;
  --BackgroundColorHover: #ef4444;
  --BackgroundColorActive: #f9fafb;
}
.NavItemContainer {
  width: 4.5rem;
  min-height: 4.5rem;
  padding: 0.5rem;
  background-color: var(--BackgroudColor);
  display: flex;
  flex-wrap: wrap;
  color: var(--ColorItems);
  justify-content: center;
  align-content: center;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  transition: 150ms;
}

.IconContainer {
  font-size: 2rem;
}

.NavItemContainer:hover {
  background-color: var(--BackgroundColorHover);
}

.NavItemContainer.active {
  background-color: var(--BackgroundColorActive);
  color: var(--BackgroudColor);
}
.PMd {
  cursor: pointer;
}

@media (max-height: 728px) {
  .NavItemContainer {
    max-height: 108px;
    display: flex;
    flex-direction: column;
  }
}
