/* Variables de color */
:root {
    --modal-background-color: white;
    --modal-text-color: #333;
    --modal-button-background: #d32f2f;
    --modal-button-color: white;
}

/* Estilos para el contenido del modal */
.edit-modal-content {
    background-color: var(--modal-background-color);
    width: 100%;
    margin-top: 1.25rem;
    max-width: 650px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}



/* Título del modal */
.edit-modal-content h3 {
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

/* Contenedor del formulario */
.edit-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    width: 100%;
}

/* Contenedor de cada campo del formulario */
.label-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Estilos para las etiquetas */
.label-input-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para los mensajes de error */
.error-message {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
}

/* Contenedor del botón de actualización */
.edit-button-container {
    grid-column: span 2; /* Ocupa ambas columnas */
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

/* Estilos para el botón de actualización */
.edit-update-button {
    background-color: var(--modal-button-background);
    color: var(--modal-button-color);
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Media Queries para pantallas medianas */
@media (max-width: 768px) {
    .edit-form-container {
        gap: 15px;
    }
    
}
/* Media Queries para pantallas pequeñas */
@media (max-width: 300px) {
    .edit-modal-content {
        padding: 15px;
        margin: 0 10px;
        max-width: 250px;
    }

    .edit-form-container {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        gap: 15px;
    }

    .edit-button-container {
        grid-column: span 1; /* Ajusta para una columna */
    }

}

