/* Contenedor Principal */
.VGestionCursosCursosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Título */
.VGestionCursosCursosContainer .VGestionCursosCursosContainerTitle {
    width:100%;
    display: flex;
}

.VGestionCursosCursosContainer .VGestionCursosCursosContainerTitle h3 {
    margin: 1rem 0 1rem 0;
}

/* Barra de Búsqueda */
.VGestionCursosCursosContainer .VGestionCursosCursosContainerSearch {
    margin-bottom: 20px;
}

.VGestionCursosCursosContainer .VGestionCursosCursosContainerSearch .SearchComponentContainer {
    width: 100%;
    max-width: 350px;
}

/* Contenido principal */
.VGestionCursosContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.VGestionCursosContent .FormularioAgregarEstudiante {
    margin-bottom: 20px;
}

/* Tabla de cursos */
.TablaGestionCursos {
    width: 100%;
    overflow-x: auto;
    /* Para tablas anchas en pantallas pequeñas */
}


/* Media Queries */

/* Pantallas medianas */
@media (max-width: 768px) {
    .VGestionCursosCursosContainer .VGestionCursosCursosContainerTitle h3 {
        font-size: 24px;
    }

    .TablaGestionCursosContainer {
        overflow-x: auto;
    }
}

/* Pantallas pequeñas */
@media (max-width: 480px) {
    .VGestionCursosCursosContainer {
        padding: 10px;
    }

    .VGestionCursosCursosContainer .VGestionCursosCursosContainerTitle h3 {
        font-size: 20px;
    }

    .VGestionCursosCursosContainer .VGestionCursosCursosContainerSearch {
        margin-bottom: 15px;
    }

    .VGestionCursosCursosContainer .TablaGestionCursosContainer {
        margin: 15px 0;
    }
}