

.VEstudianteMain{
  min-height: 100vh; /* Asegura que el contenedor mínimo ocupe toda la altura de la ventana */
  display: flex;
  flex-direction: column; /* Asegura un flujo vertical */
  }
  
.VEstudianteMain .containerCamb{
  flex-grow: 1;
  padding-left: 6rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  width: 100%;
  height: auto;
  background-color: var(--BackgroundColor);
  box-sizing: border-box;
  }

  /* Pantallas pequeñas: ajusta la posición del contenido */
  @media (max-width: 1130px) {
    .VEstudianteMain .containerCamb {
        z-index: 1;
    padding-right: 2%;
    padding-left: 2%;
      }
    }
