.VGestionCursosContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}




.VGestionCursosContainer .VGestionCursosButtonsContainer{
    align-self: start;
}

/* Contenedor del Contenido Cambiante */
.VGestionCursosContainer .CambGestionCursos {
    width: 100%;
    flex-grow: 1;
}

/* Media Queries */

/* Pantallas medianas */
@media (max-width: 768px) {
    .VGestionCursosContainer .TitleGestionCursos h3 {
        font-size: 22px;
    }

    .VGestionCursosContainer .VGestionCursosButtonsContainer {
        gap: 10px;
    }
}

/* Pantallas pequeñas */
@media (max-width: 250px) {
    .VGestionCursosContainer .TitleGestionCursos h3 {
        font-size: 20px;
    }

    .VGestionCursosContainer .VGestionCursosButtonsContainer {
        flex-direction: column ;
        align-items: stretch;
        gap: 10px;
    }
}