.VInformesDocenteAdministradorBimestralContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

.VInformesDocenteAdministradorBimestralContainer .VInformesDocenteAdministradorBimestralTitleContainer{
    height: auto;
    align-self: flex-start;
}

.VInformesDocenteAdministradorBimestralContainer .VInformesDocenteAdministradorBimestralTitleContainer h3{
   margin: 1rem 0 1rem 0;
}

.VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer{
    height: auto;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer.admin{
    width: 900px;
    }

.VInformesDocenteAdministradorBimestralContainer .VInformesDocenteAdministradorBimestralContent{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}


@media (max-width:932px){
    .VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,1fr);
        width: 100%;  
    }
}


@media (max-width:760px){
    .VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3,1fr);
            width: 100%;
    }
    .VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3,1fr);
        width: 100%;  
    }
}

@media (max-width:588px){
    .VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2,1fr);
            width: 100%;
    }
    .VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
        width: 100%;  
    }
}

@media (max-width:380px){
    .VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(1,1fr);
            width: 100%;
    }
    .VInformesDocenteAdministradorBimestralContainer .SelectInformesDocenteAdministradorBimestralContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1,1fr);
        width: 100%;  
    }
}