.VHonorDocenteAdministradorContainer{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}

.VHonorDocenteAdministradorContainer .LinkVHonorDocenteAdministrador{
    text-decoration: none;
}

.VHonorDocenteAdministradorContainer .VHonorDocenteAdministradorTitleContainer{
    align-self:flex-start;
    padding-bottom: 1rem;
}
.VHonorDocenteAdministradorContainer .VHonorDocenteAdministradorTitleContainer h3{
    margin: 0;

}

.VHonorDocenteAdministradorContainer .CambVHonorDocenteAdministrador{
    width: 100%;
}